@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;600;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700&display=swap");


body {
   width: 100%;
   background-color: #F2F2D0;
   font-family: "Nunito Sans", sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
    
}

header {
   width: 100%;
   height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;

   h1 {
      text-transform: uppercase;
      margin-top: 40px;
   }
}

.header__image {
   margin-top: 30px;
   height: 300px;
   width: 80%;
   background-image: url(./assets/img/view.jpeg);
   background-size: cover;
   background-position: 50%;
   box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
   border-radius: 30px;

}

main {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.section1 {
   width: 60%;
   height: 600px;
   display: flex;
   justify-content: space-between;
   border-top: #313105 solid 2px;
   padding-top: 8px;

   .section1__txt {
      width: 50%;
   }
   
   .section1__title {
      text-transform: uppercase;
      margin-left: 15px;

      width: 80%;

   }

   .about__txt {
      margin-top: 25px;
      width: 80%;
   }

   .about__image {
      background-image: url(./assets/img/alhambra-gardens.jpg);
      background-size: cover;
      box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
      background-position: 50%;
      width: 50%;
      height: 400px;
      margin-top: 10px;
      border-radius: 30px;
   }

   #about__btn {
      width: 30%;
      text-transform: uppercase;
      color: white;
      border-radius: 20px;
      border: none;
      background-color: rgb(23, 104, 80);
   }
}

.section2 {
   width: 80%;
   height: 500px;
   background-color: #92886856;
   border-radius: 30px;
   
   .section2__container {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;

   }

   .section2__title {
      text-transform: uppercase;
      margin-top: 20px;
   }
  
   .slider {
      width: 80%;
    height: 20%px;
    

   }
   .slider__card {
      width: 100%;
      height: 20%;
   }
  
}

.section3 {
   width: 80%;
   height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;

   .maps {
      // width: 100%;
      // height: 100%;
      border-radius: 30px;
      border: #313105 solid 1 px;
      margin-top: 30px;
   }
}

.section4 {
   width: 80%;
   height: 300px;

   .section4__txt {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      

   }

   span {
      text-transform: uppercase;
      letter-spacing: 2px;
      padding-bottom: 15px;
      
   }
}

@media (max-width: 1000px) {
   .section1 {
      width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-top: #313105 solid 2px;
   padding-top: 8px;
      

      .section1__txt {
         width: 100%;
      }

      .about__txt {
         width: 100%;
      }
   
      .about__image {
         width: 100%;
         height: 200px;
         margin-top: 10px;
         
      }
   
      #about__btn {
         width: 50%;
         
      }
   }

   .section2 {
      height: 700px;
      margin-top: 20px;
     
   }

}

