@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;600;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700&display=swap");
body {
  font-family: "Nunito Sans", serif;
  font-weight: 400;
  font-size: 1.3rem;
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  background: url(../img/frame7.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(0, 67, 105, 1);
  h1 {
    font-weight: 600;
    color: rgba(0, 67, 105, 1);
  }
}
.book-container {
  display: flex;
  flex-direction: row;
  // align-items: center;
  gap: 40px;
  width: 100%;

  .booking-slider {
    width: 59%;
    // border: 5px solid lightblue;
    list-style: none;
    margin-right: 20px;

    // border-radius: 4%;
    img {
      width: 98%;
      height: auto;
    }
  }
  .booking-info {
    &_text {
      margin-bottom: 20px;

      &_wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
      }
    }
    &_price {
      padding: 24px;
      border-radius: 13px;
      box-shadow: 0 1px 2px rgba(3, 54, 63, 0.4),
        0 -1px 2px rgba(3, 54, 63, 0.04);
      &_euro {
        display: block;
        font-weight: 600;
        font-size: 1.6rem;
        margin-bottom: 10px;
      }
      .btn-heart {
        width: 50px;
      }
      &_text {
        margin-top: 10px;
        display: block;
        font-size: 1.1rem;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.booking-details {
  &_part1,
  &_part2 {
    margin-bottom: 30px;
  }
  &_offers {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    span {
      display: block;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
}

.btn-primary {
  border-radius: 32px;
  font-family: "Merriweather Sans", serif;
  font-weight: 600;
  padding: 10px 40px;
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px;
  color: #fff;
}

.slick-prev {
  left: 5%;
  z-index: 1;
}
.slick-next {
  right: 5%;
  z-index: 1;
}

.btn-heart {
  color: gray;
  margin-left: 10px;
  border: 2px solid gray;
  border-radius: 50%;
  width: 30px;
  height: 47px;
}

@media (max-width: 1000px) {
  .book-container {
    flex-direction: column;
  }
  .booking-info_price {
    margin-bottom: 40px;
  }
}
